* {
  margin: 0;
  padding: 0;
}
.body {
  height: 100%;
}
.size {
  border: transparent;
  background-color: white;
  font-size: 40px;
}
.size:hover:active {
  color: aquamarine;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20%;
}

.bg {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.p {
  background-color: black;
  color: white;
  font-size: 40px;
  height: 50px;
}
.button {
  font-size: 60px;
  border: blue 5px;
}
.button:active {
  color: red;
}
