* {
  margin: 0;
  padding: 0;
}
.body {
  height: 100%;
}
.size {
  border: transparent;
  background-color: white;
  font-size: 40px;
}
.size:hover:active {
  color: aquamarine;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20%;
  padding-top: 40px;
}

.bg {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.p {
  background-color: black;
  color: white;
  font-size: 40px;
  height: 50px;
}
.button {
  font-size: 60px;
  border: blue 5px;
}
.button:active {
  color: red;
}
.click {
  display: flex;
  flex-direction: column;
}
.sized {
  font-size: 25px;
}
.hd {
  background-image: linear-gradient(to right, #ff00cc, #3333ff);

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}
